@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --background-dark: #1e1e1e;
  --text-light: #111827;
  --text-dark: #ffffff;
}

@layer base {
  body {
    @apply bg-[var(--background-light)] text-[var(--text-light)] dark:bg-[var(--background-dark)] dark:text-[var(--text-dark)] font-body;
  }

  h1, h2, h3 {
    @apply font-title;
  }
}
